body{
  font-family:'Open Sans'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.text-slanted{
  font-family: 'Courgette', cursive;
  
  
  
}

text-orange{
color:orange;
}


.letter-spacing{
  letter-spacing: 0.5 rem;
}

.header-hero,.default-hero{
  min-height: 100vh; /* Ensure the header covers the full viewport height */
  color: black;
  background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url("./Images/food-bcg.jpg") center/cover no-repeat;

}
.navbar-item {
  font-size: 200%; /* Increase font size */
  text-align: left; /* Center align text */
  margin: 10px 20px; /* Add spacing around each navbar item */
}

.default-hero{
  background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url("./Images/wrong_site.png") center/cover no-repeat;
}

.input-group{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.orange-text {
  color: orange;
}
.orange-textC {
  color: rgb(91, 77, 52);
  font-family: cursive; /* Add cursive font family */
}

.orange-textT{
  color: rgb(177, 127, 40);
  font-family: cursive; /* Add cursive font family */
}

.search-font{
  
   font-family: "Cedarville Cursive", cursive;
  font-weight: bold;
  font-style: normal;
}

.recipe-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.empty-table{
  position: absolute;
  width: 150%;
  margin-left: 1rem;
  margin-right: auto;
  margin-top: 3%;
}