body{
  font-family:'Open Sans'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.text-slanted{
  font-family: 'Courgette', cursive;
  
  
  
}

text-orange{
color:orange;
}


.letter-spacing{
  letter-spacing: 0.5 rem;
}
<<<<<<< HEAD
.header-hero {
  min-height: 100vh; /* Ensure the header covers the full viewport height */
  color: black;
  background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url("./Images/food-bcg.jpg") center/cover no-repeat;

}
.navbar-item {
  font-size: 200%; /* Increase font size */
  text-align: left; /* Center align text */
  margin: 10px 20px; /* Add spacing around each navbar item */
}
=======
>>>>>>> a8661d8e08155e9902efc83227a237102a93d02f
